.peg {
  transition: transform 0.4s;
  background: transparent;
  border: 1px solid black;
  margin-bottom: 5px;
  position: relative;

  .pegImg {
    width: 50px;
    height: 60px;
  }

  .pegId {
    position: absolute;
    color: yellow;
    font-weight: bold;
    font-size: 16px;
    left: 9px;
    top: 5px;
    background-color: black;
  }

  .pegInfo {
    width: 55px;
    text-align: center;
    padding-top: 10px;
  }

  .pegIcon {
    position: relative;
    font-size: 40px;
    color: black;
    width:28px;
    text-align: center;
  }

  &.dropped {
    border: none;
    margin: 0;
  }

  &.dragging {
    transform: rotate(-25deg) translateY(-10px);
    opacity: 0.5;
    margin: 0;
  }
}
