.peg {
  transition: transform 0.4s;
  background: transparent;
  border: 1px solid black;
  margin-bottom: 5px;
  position: relative;
  text-align: center;
  
  .pegId {
    position: absolute;
    color: yellow;
    font-weight: bold;
    font-size: 22px;
    left: 9px;
    top: 6px;
    background-color: black;
  }

  .pegInfo {
    width: 55px;
    text-align: center;
    padding-top: 10px;
  }

  .pegIcon {
    position: relative;
    color: black;
    text-align: center;
  }

  &.dropped {
    border: none;
    margin: 0;
  }

  &.dragging {
    transform: rotate(-25deg) translateY(-10px);
    opacity: 0.5;
    margin: 0;
  }
}
